-
  var events = [
    {
      name: 'Вебинар "Построение бизнес-модели стартапа"',
      date: "2 и 4 сентября, 17:30-19:45",
      datetime: "2022-09-02 17:30",
      type: 'Вебинар',
      image: '/images/event.png'
    },
    {
      name: "Необходимые меры за 4 месяца до обязательной маркировки товаров легкой промышленности",
      date: "10 сентября, 11:00",
      datetime: "2022-09-10 11:00",
      type: 'Лекция',
      image: '/images/event.png'
    },
    {
      name: 'Вебинар "Customer Development. Инструмент по проверке гипотез о своем клиенте"',
      date: "11 сентября, 17:30-19:45",
      datetime: "2022-09-11 17:30",
      type: 'Вебинар',
      image: '/images/event.png'
    },
    {
      name: 'Выставка «Новые меры финансовой поддержки экспорта»',
      date: "10 сентября, 11:00",
      datetime: "2022-09-10 11:00",
      type: 'Выставка',
      image: '/images/event.png'
    },
  ];

section.events(class="section")
  .events__inner(class="section__inner")
    .events__header
      h2.events__title(class="section__title") Заголовок
      button.events__btn(class="btn btn_bright") 
        span.btn__text Смотреть все мероприятия
    hr.events__hr

    include ../event/event.pug
    .events__container
      each event in events
        +Event(event)
