@import "../../shared/styles/variables.scss";

.events {
  position: relative;
  background: #f2f2f2;

  .events__inner {
    // width: 64.1%;
    padding: 60px 0 90px 0;
  }
}

.events__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.events__title {
  position: relative;
  flex: 0 1 238px;
}

.events__btn {
  flex: 0 1 258px;
  height: 60px;
}

.events__hr {
  width: 126px;
  border: 2px solid $eyeCatchingColor;
  margin: 12px 0 50px 3px;
}

.events__container {
  width: 100%;

  display: grid;
  grid-gap: 29.97px;
  grid-template-columns: repeat(auto-fill, 285px);
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .events__header {
    align-items: center;
    gap: 15px;
  }
  .events__title {
    font-size: 34px;
  }
  .events__btn {
    height: 50px;
  }
}
