mixin Offer({name, iconId, width})
  article.offers__offer(class="swiper-slide")
    svg.offer__icon(width=width height='22' viewBox=`0 0 ${width} 22`)
      use(xlink:href=`icons/sprites.svg#${iconId}`)

    h3.offer__name !{name}