@import "./variables.scss";

@mixin lightBtn {
  border: 1px solid $textColor;
  background: none;

  .btn__text {
    color: $textColor;
  }
  .btn__icon {
    fill: $textColor;
    stroke: none;
  }
}

@mixin brightBtn {
  border: none;
  background: $eyeCatchingColor;

  .btn__text {
    color: $textColorLight;
  }
  .btn__icon {
    fill: $textColorLight;
    stroke: $eyeCatchingColor;
  }
}

.btn {
  position: relative;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  cursor: pointer;
  transition: 0.3s;
  z-index: 1;

  &.btn_light {
    @include lightBtn;
  }

  &.btn_bright {
    @include brightBtn;
  }

  &::after {
    content: "";

    position: absolute;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;

    display: block;
    color: $textColor;
    background: $textColorLight;

    z-index: -1;
    transition: 0.5s;
    transform: skewX(-45deg) scale(0, 1);
  }

  &:hover::after,
  &:focus::after {
    transform: skewX(-45deg) scale(0.75, 0.9);
  }

  &:hover,
  &:focus {
    background: $eyeCatchingColor;
    border: none;

    &.btn__light {
      @include lightBtn;
    }

    &.btn__bright {
      @include brightBtn;
    }

    .btn__text {
      color: $eyeCatchingColor;
    }
    .btn__icon {
      fill: $eyeCatchingColor;
      stroke: $eyeCatchingColor;
    }
  }
}

.btn__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03px;
}

.btn__icon-wrapper {
}

.btn__icon {
}
