@import "../../shared/styles/variables.scss";

.header {
  width: 100vw;
  min-width: 320px;
  height: 90px;

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.header__logo {
  flex: none;
}

.header__nav {
  flex: 0 1 378px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 132px;
}

.nav__link {
  color: $textColor;
  font-family: "Roboto";
  font-weight: 400;
  cursor: pointer;

  &:last-child {
    flex-basis: 72px;
    text-align: center;
  }

  &:hover,
  &:active,
  &:focus,
  &.nav__link_active {
    color: $eyeCatchingColor;
  }
}

.header__user {
  flex: 0 1 373px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  .user__btn {
    min-width: 120px;
    height: 50px;

    .user__btn-icon-wrapper {
      margin-right: 9px;
    }

    &.user__useful {
      flex: 0 1 177px;
    }
    &.user__personal-account {
      flex: 0 1 175px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .header__nav {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: auto;
  }
  .header__nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__user {
    display: none;
  }
}
