.header {
  width: 100vw;
  min-width: 320px;
  height: 90px;

  .header__inner {
    min-width: 300px;
    width: 64.06%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.header__logo {
  flex: none;
}

.header__nav {
  flex: 0 1 378px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 132px;

  .nav__link {
    color: #58595b;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;

    &:last-child {
      flex-basis: 72px;
      text-align: center;
    }

    &:hover,
    &:active {
      color: #e04e39;
    }
  }
}

.header__user-interactions {
  flex: 0 1 373px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  .user-interactions__btn {
    min-width: 120px;
    height: 50px;
    border-radius: 5px;

    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    .user-interactions__mark {
      font-size: 16px;
    }

    &.user-interactions__useful {
      flex: 0 1 178px;
      background: #e04e39;
      color: #fff;
    }
    &.user-interactions__personal-account {
      flex: 0 1 175px;
      border: 1px solid #58595b;
      background: none;
      color: #58595b;
    }
  }
}

@media screen and (max-width: 1440px) {
  .header__nav {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: auto;
  }
  .header__nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__user-interactions {
    display: none;
  }
}
