header.header(class="section")
  .header__inner(class="section__inner")
    svg.header__logo(width="55" height="64" viewBox="0 0 55 64")
      use(xlink:href="icons/sprites.svg#logo")
    
    .header__nav
      a.nav__link(href="#" class="nav__link_active") Главная
      a.nav__link(href="#") О нас
      a.nav__link(href="#") Мероприятия
      a.nav__link(href="#") Новости

    .header__user 
      button.user__btn(class="btn btn_bright user__useful") 
        svg.user__btn-icon-wrapper(class="btn__icon-wrapper" width="17" height="18" viewBox="0 0 17 18")
          use.user__btn-icon(class="btn__icon" xlink:href='icons/sprites.svg#btn-icon')
        span.user__btn-text(class="btn__text") Полезное
      button.user__btn(class="btn btn_light user__personal-account")
        span.user__btn-text(class="btn__text") Личный кабинет

    .header__burger(id="burger-menu")
      .burger__item 
      .burger__item 
      .burger__item 