@import "../../shared/styles/variables.scss";
.offers {
  padding: 89px 0;
}

.offers__offers-slider {
  margin-top: 50px;
}

.offers-slider__nav-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0 auto;
}

.offers-slider__nav-btn {
  width: 23px;
  height: 12px;
  cursor: pointer;

  use {
    stroke: $eyeCatchingColor;
  }

  &.offers-slider__nav-btn_disabled {
    cursor: default;
    use {
      stroke: unset;
    }
  }

  &.offers-slider__next {
    transform: rotate(180deg);
  }
}

.offers-slider__pagination {
  position: relative;
  bottom: unset;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.pagination__bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  margin: 0 5px;

  &.pagination__bullet_active {
    border: none;
    background: $eyeCatchingColor;
  }
}

@media screen and (max-width: 700px) {
  .offers-slider__pagination {
    display: none;
  }
  .offers-slider__nav-btn {
    margin: 0 20px;
  }
}
